@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap");

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #2e364b;
}

/* .navbar {
  border-bottom: 4px solid #2e364b;
  color: #2e364b;
  text-justify: center;
  align-items: center;
  padding-left: 24rem;
  font-family: "Montserrat", sans-serif;
}
.nav {
  letter-spacing: 4px;
  color: #2e364b;
  text-transform: uppercase;
  opacity: 1;
}
.nav-link {
  display: inline;
  padding: 0.5rem 1rem;
  color: #2e364b;
  text-justify: center;
}
.nav a {
  font-weight: bolder;
}
.nav-link a {
  text-justify: center;
  font-weight: bolder;
}
.logovscall {
  margin-left: 33rem;
}
.logodiv {
  padding-top: 3rem;
}
.logodiv p {
  font-size: 26px;
  padding-top: 12px;
}
.logoletter {
  margin-left: 20rem;
}
.call_section {
  padding-top: 6.7rem;
}
.call_icon img {
  height: 38px;
  width: 33px;
}
.call_section .call_num {
  padding-top: 0.2rem;
  font-weight: bold;
  font-size: 22px;
}
.spanfor_soft {
  font-weight: bold;
}
.lower_navbar {
  color: #2e364b;
  margin-left: 1px;
  text-justify: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-top: 3rem;
  opacity: 1;
}
.lower_navbar .lower_nav_item {
  padding: 24px;
  display: flex;
  text-decoration-line: none;
  font-weight: bolder;
  display: inline;
}
.lower_nav {
  padding-left: 1px;
}
.idea_imp_res {
  display: flex;
  justify-content: center;
  font-size: 70px;
  color: #2e364b;
  font-family: "Open Sans", sans-serif;
}
.idea_imp_res .idea {
  margin-left: 12rem;
  position: absolute;
  top: 100%;
  right: 30%;
  width: 100%;
  text-align: center;
}
.idea_imp_res .implement {
  margin-left: 12rem;
  position: absolute;
  top: 90%;
  width: 100%;
  text-align: center;
  justify-items: center;
}
.idea_imp_res .result {
  margin-left: 12rem;
  position: absolute;
  top: 100%;
  left: 20%;
  width: 100%;
  text-align: center;
} */
